html {
    font-size: 40px;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
}

#top-tab {
    align-items: stretch;
    flex-direction: column;
    position: sticky;
    background-color: white;
    top: -3rem;
    z-index: 1;
}

#top-1 {
    display: flex;
    height: 2rem;
    padding: 0.5rem;
}

#search {
    flex: 4;
    background-color: rgb(228, 228, 228);
    border: none;
    border-radius: 0.5rem;
    width: 80%;
    font-size: 1rem;
    text-align: center;
}

#check-in {
    flex: 1;
    margin: 0.5rem;
    font-size: 1rem;
    text-align: center;
}

#top-2 ul {
    display: flex;
    overflow-x: scroll;
    list-style-type: none;
    height: 2rem;
    margin: 0;
}

#top-2 ul::-webkit-scrollbar {
    width: 0 !important
}

#top-2 ul li {
    flex-shrink: 0;
    margin: 0 2rem;
    font-size: 1rem;
}

.child-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    margin: 0.9rem 0;
    padding: 1.3rem;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
}

.discription {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: rgb(116, 116, 116);
    font-size: 0.9rem;
    font-weight: lighter;
}

.author {
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 0.1rem solid rgb(209, 209, 209);
}

#special-content-reBang {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    border-radius: 1rem;
    margin: 0.9rem 0;
    padding: 1.3rem;
}

#special-title {
    font-weight: 600;
    margin: 1rem;
}

#special-subtitle {
    background-color: rgb(204, 223, 255);
    color: rgb(56, 56, 250);
    padding: 0.2rem;
    font-size: small;
    font-weight: 400;
    border-radius: 10%;
}

#reBang-textbody ul {
    list-style-type: none;
}

#reBang-textbody li {
    margin: 1rem 0;
}

#reBang-textbody span {
    padding: 0.2rem 0.3rem;
    margin-right: 0.5rem;
}

.No1 {
    border-radius: 00.2rem;
    width: 1.4rem;
    height: 1.4rem;
    background-color: brown;
    color: white;
}

.No2 {
    border-radius: 00.2rem;
    width: 1.4rem;
    height: 1.4rem;
    background-color: rgb(253, 123, 76);
    color: white;
}

.No3 {
    border-radius: 00.2rem;
    width: 1.4rem;
    height: 1.4rem;
    background-color: rgb(251, 251, 24);
    color: white;
}

.top-3 {
    background-color: white;
    position: sticky;
    top: 2rem;
    margin: 0;
}

.top-3 ul {
    display: flex;
    list-style-type: none;
    font-size: 1rem;
    overflow-x: scroll;
    margin: 0;
    padding: 0.3rem;
}

.top-3 ul ul::-webkit-scrollbar {
    width: 0 !important;
}

.top-3 li {
    flex-shrink: 0;
    display: inline;
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin: 0;
    margin-right: 1rem;
    background-color: rgb(221, 221, 221);
    color: rgb(158, 158, 158);
}

.top-3 .choosed {
    background-color: rgb(99, 109, 255);
    color: rgb(255, 255, 255);
}

.top-3 button {
    position: absolute;
    right: 1rem;
    bottom: 0.6rem;
    background-color: rgb(133, 133, 255);
    color: white;
    padding: 00.2rem;
    font-size: 0.7rem;
    border-radius: 5rem;
}

.content-box {
    padding: 1rem 0;
}

#reBang-top-discription {
    display: flex;
    padding: 1rem;
    background-color: white;
}

#reBang-top-discription>span {
    margin-left: 1rem;
    width: 50%;
    font-weight: 600;
}

#reBang-top-discription .reBang-top-box {
    padding: 0.3rem;
    margin: 1rem;
    font-size: small;
    border-radius: 20%;
    background-color: rgb(221, 239, 255);
    color: rgb(100, 100, 255);
}

#rebang-content-box {
    background-color: white;
}

#rebang-content-box ul {
    list-style-type: none;
    margin-top: 0;
    padding: 1rem;
}

#rebang-content-box li {
    display: flex;
    align-items: start;
    margin-bottom: 1rem;
    border: 0.1rem rgb(110, 110, 110);
}

.reBang-num {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 1rem;
    text-align: center;
}

.right-block {
    flex: 1;
}

.right-block .reBang-author {
    color: rgb(146, 146, 146);
    font-size: small;
    font-weight: 300;
    float: left;
}

.right-block .reBang-hot {
    color: rgb(179, 179, 179);
    font-size: small;
    font-weight: 300;
    float: right;
}

#bottom-tab {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    padding: 1rem 0;
}

#bottom div {
    color: rgb(167, 167, 167);
    width: 15%;
}